
body {
    margin: 0;
    padding: 0;
}

section {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url('Stock/1587051609_4-p-chernie-foni-s-gradientom-11 (1).jpg');
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1170px;
    margin: auto;
    height: 500px;
    bottom: 60%;
}

.sec2 {
    display: block;
    margin: 0 auto;
    position: relative;
    left: 0vw;
    right: 0vw;
    top: 0px;
    padding: 0;
    width: 100vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0vw;
}

    .sec2 .logo {
        color: gray;
        margin-left:2vw;
        display: block;
        margin: 0 auto;
        width: 463px;
        height: 300px;
        border-radius: 50px;
        border: 6px black;
        margin-bottom: -3vw;
        background-color: black;
    }

    .sec2 .social {
        left: 41%;
        position: relative;
        padding-top: 6vh;
        width: 300px;
        height: 92px;
        margin-bottom: -1.5vw;
    }

.content1 h2 {
    position: relative;
    font-family: 'SEGOE PRINT', Tahoma, Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 0vw;
    padding-bottom: 3vw;
    color: white;
}

.content a:link, a:visited {
    font-family: 'SEGOE PRINT', Tahoma, Verdana, Geneva, Tahoma, sans-serif;
    left: 11%;
    position: relative;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    text-decoration: none;
    padding-left: 40px;
    border-radius: 10px;
    background-color: black;
    padding-right: 40px;
}
.social a:link, a:visited {
    text-decoration: none;
}
