
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Login</title>
    <link href="~/log.css" rel="stylesheet" />
</head>
<body>
    <form id="form_log" action="~/Auth/log" method="POST">
        <section>
            <img src="~/Stock/pngegg.png" style="height: 630px; width: 380px" />
        </section>
        <div class="sec2">
            <div class="container">
                <div class="content">
                    <h2>Авторизация</h2>
                    <input type="text" /><br />
                    <br />
                    <input type="password" /><br />
                    <br />
                    <input type="submit" value="Авторизация"></input><br /><br />
                    <a href="~/Auth/reg">Регистрация</a>
                </div>
            </div>
        </div>
    </form>
</body>
</html>

