<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>DarkStak</title>
</head>
<body>
    <h1>Приветствуем на сайте DarkStak!<br /></h1>
    <h1>Наш сайт  является крупнейшем магазином аккаунтов, ключей, документов, а так же cookie!</h1>
    <button >Войти</button><br/>
    <button >Регистрация</button>
</body>
</html>

