@model WebSite.Storage.Entity.Account
@using Microsoft.AspNetCore.Http
@using WebSite.Storage.Entity

@{ 
    var account = Context.Session.Get<Account>("user");
    if (account == null)
        Context.Response.Redirect("/Auth/log");
}


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
    <head runat="server">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title></title>
        <link href="~/Shop.css" rel="stylesheet" />
    </head>
    <body>
        <form id="form1" runat="server">
            <section>
                <img src="/Stock/pngegg.png" style="height: 1200px; width: 1400px" />
            </section>
            <div class="sec2">
                <div class="container">
                    <div class="content">
                        <div class="first">
                            <a href="http://www.vk.ru">
                                <img src='~/Stock/vk.png' width="200" height="200" />
                            </a>
                            <a href="http://www.vk.ru">
                                <img src='~/Stock/gamepad.png' width="200" height="200" />
                            </a>
                        </div>
                        <div class="second">
                            <a href="http://www.vk.ru">
                                <img src='~/Stock/Cookie.png' width="200" height="200" />
                            </a>
                            <a href="http://www.vk.ru">
                                <img src='~/Stock/vk.png' width="200" height="200" />
                            </a>
                        </div>
                        <div class="third">
                            <a href="http://www.vk.ru">
                                <img src='~/Stock/vk.png' width="200" height="200" />
                            </a>
                            <a href="http://www.vk.ru">
                                <img src='~/Stock/vk.png' width="200" height="200" />
                            </a>
                        </div>
                        <div class="forth">
                            <a href="http://www.vk.ru">
                                <img src='~/Stock/vk.png' width="200" height="200" />
                            </a>
                            <a href="http://www.vk.ru">
                                <img src='~/Stock/vk.png' width="200" height="200" />
                            </a>
                        </div>
                        <div class="fifth">
                            <a href="http://www.vk.ru">
                                <img src='~/Stock/vk.png' width="200" height="200" />
                            </a>
                            <a href="http://www.vk.ru">
                                <img src='~/Stock/vk.png' width="200" height="200" />
                            </a>
                        </div>
                        <div class="sixth">
                            <a href="http://www.vk.ru">
                                <img src='~/Stock/vk.png' width="200" height="200" />
                            </a>
                            <a href="http://www.vk.ru">
                                <img src='~/Stock/vk.png' width="200" height="200" />
                            </a>
                        </div>
                        <br />
                        <br />
                        <br />
                        <br />

                        <div class="content2">
                            <a href="/Personal account.aspx">На главную</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>