@model WebSite.Storage.Entity.Account
@using Microsoft.AspNetCore.Http
@using WebSite.Storage.Entity

@{ 
    var account = Context.Session.Get<Account>("user");
    if (account == null)
        Context.Response.Redirect("/Auth/log");
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">

</head>
<body>
    <a href="#">
        <img src="~/Stock/vk_sales.png" alt="" width="100" height="100" /><br />
        Купить аккаунт
    </a>
    <br />
    <a href="#">
        <img src="~/Stock/gametool.png" alt="" width="100" height="100" /><br />
        Купить игру
    </a>
    <br />
    <a href="#">
        <img src="~/Stock/passport.png" alt="" width="100" height="100" /><br />
        Купить скан паспорта
    </a>
    <br />
    <a href="#">
        <img src="~/Stock/money.png" alt="" width="100" height="100" /><br />
        Купить валюту
    </a>
</body>
</html>