@model WebSite.Storage.Entity.Account
@using Microsoft.AspNetCore.Http
@using WebSite.Storage.Entity

@{ var account = Context.Session.Get<Account>("user");
                if (account == null)
                    Context.Response.Redirect("/Auth/log");
                else
                {
                    List<string> vkPurchases = account.vkPurchases.Split("\0").ToList<string>();
                    List<string> gamePurchases = account.gamePurchases.Split("\0").ToList<string>();
                    List<string> scanPurchases = account.scanPurchases.Split("\0").ToList<string>();
                    List<string> coinsPurchases = account.coinsPurchases.Split("\0").ToList<string>();
                    <!DOCTYPE html>
                        <html>
                        <head>
                            <link href="~/purchased.css" rel="stylesheet" />
                        </head>
                        <body>
                            <section>
                                <img src="/Stock/pngegg.png" style="height: 3000px; width: 1000px" />
                            </section>
                            <div class="sec2">
                                <div class="container">
                                    <div class="content">
                                        <h1>Ваши покупки:</h1>
                                    </div>
                                    <div class="buy">
                                         @{ 
                                                    <h1>VK</h1>
                                                    foreach (var iter in vkPurchases)
                                                    {
                                                        <label>@iter</label><br /> 
                                                    }
                                                    <h1>Games</h1>
                                                    foreach (var iter in gamePurchases)
                                                    {
                                                       <label>@iter</label><br /> 
                                                    }
                                                    <h1>Scans</h1>
                                                    foreach (var iter in scanPurchases)
                                                    {
                                                        <label>@iter</label><br /> <br />
                                                    }
                                                    <h1>Coins</h1>
                                                    foreach (var iter in coinsPurchases)
                                                    {
                                                        <label>@iter</label><br /> <br />
                                                    } 
                                                  }

                                        <br /><br />
                                    </div>
                                    <div class="content2">
                                        <a href="/Profile/Index">Назад</a>
                                    </div>
                                </div>
                            </div>
                        </body>
                    </html>
                } 
}


